.tablichka {
    margin-top: 20px;
}

#results-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#results-table th, #results-table td {
    border: 1px solid #56ccfd;
    padding: 8px;
    text-align: center;
}

#results-table th {
    background-color: #b4ffbd;
}

#results-table tr:nth-child(even) {
    background-color: #9df8df;
}

#results-table tr:hover {
    background-color: #89e8f5;
}

#results-table .x-column, #results-table .y-column, #results-table .r-column, #results-table .time-column {
    width: 10%;
}

#results-table .res-column {
    width: 15%;
}

#results-table td span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}
